.tableReviews {
  background-color: #f7f8fd;
  border-radius: 20px;
  padding: 20px;

  .private_review {
    background-color: white;
    height: 450px;
    border-radius: 20px;
    padding: 20px;

    .rating {
      .rate {
        display: block;
        width: 25%;
      }
      textarea {
        display: block;
        width: 60% !important;
        height: 200px;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: #f7f8fd;
        font-size: 15px;
      }
      Button {
        width: 100px;
        height: 38px;
        border-radius: 20px;
        padding: 15px;
        background-color: var(--color_black);
        color: white;
        font-size: 15px;
        &:hover {
          background-color: var(--color_green);
        }
      }
    }
  }
}
