.countryDrop {
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  .info {
    text-align: left;
    justify-content: flex-start;

    .label {
      font-size: 12px !important;
      text-transform: capitalize !important;
      color: rgba(0, 0, 0, 0.3) !important;
      line-height: 16px;
    }
    .name {
      font-size: 14px !important;
      text-transform: capitalize !important;
      color: var(--color_black) !important;
      opacity: 1 !important;
      line-height: 16px !important;
      font-weight: 700;
    }
    .icon svg {
      opacity: 0.5 !important;
    }
  }
}

.locationModal {
  position: relative;
  justify-content: center;
  text-align: center;
  .MuiPaper-elevation {
    padding: 25px;
  }
  .countryList {
    color: black;
    margin-top: 2px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    li {
      width: 100%;
      list-style: none;
      button {
        width: 100%;
        color: #000 !important;
        justify-content: flex-start !important;
        padding: 10px 10px;
        font-weight: 550;
      }
      button.active,
      button:hover {
        background-color: rgb(216, 216, 216) !important;
      }
    }
  }
  .close_ {
    position: absolute;
    color: #000;
    top: 20px;
    right: 20px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    svg {
      font-size: 22px;
    }
  }
  .close_:hover {
    color: #7b7a7a;
  }
}
