.product_Listing_Page {
  padding: 35px 0px;
  .productListing {
    gap: 20px;
    .content_right {
      width: 80%;
      flex: 0 0 80%;

      .banner {
        height: 200px;
        overflow: hidden;
        display: block;
        border-radius: 10px;
        img {
          object-fit: cover;
          object-position: center;
          display: block;
          border-radius: 10px;
        }
      }

      //ShowBy
      .showBy {
        width: 100%;
        height: 50px;
        background-color: #f1f3ff;
        padding: 15px 25px;
        height: auto;
        border-radius: 10px;

        .gridWrapper {
          Button {
            margin-right: 10px;
            min-width: 30px !important;
            min-height: 30px !important;
            border-radius: 50%;
            width: 35px !important;
            height: 35px !important;
            transition: all 0.5s ease-in-out;
            svg {
              color: black;
              font-size: 15px;
              opacity: 0.3;
            }
            &.act {
              background-color: white;
              svg {
                color: var(--color_black);
                opacity: 1;
                font-size: 20px;
              }
            }
          }
        }

        .showByFilter {
          Button {
            min-width: auto;
            color: black;
            font-size: 13px;
            text-transform: capitalize;
            svg {
              font-size: 8px;
              opacity: 0.5;
            }
          }
        }
      }
      .productListing {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .productItem {
          &.four {
            width: 23%;
          }
          &.three {
            width: 31%;
          }
          &.two {
            width: 45%;
          }
          &.one {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            .imgWrapper {
              width: 30% !important;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  justify-content: center !important;
  padding: 3px 5px !important;
  font-size: 13px !important;
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  margin-left: 32px;
  width: 55px;
  padding: 0;
}
