.homeBannerSection {
  position: relative;
  overflow: hidden;
  outline: none;
  .item {
    height: 584px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
// TÁCH RA NGOÀI HOÀN TOÀN KHỎI .homeBannerSection
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}
