.headerSearch {
  width: 80%;
  height: 45px;
  background-color: #f4f4f7;
  padding: 8px;
  position: relative;
  border-radius: 10px;

  input {
    background-color: transparent !important;
    outline: none !important;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    width: 97%;
    height: 100%;
    border: 0px !important;
    padding: 0px 20px !important;
  }

  input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
  }

  Button {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    height: 45px;
    width: 45px;
    border-radius: 10px;
    color: black;
    font-size: 18px;
  }
}

