services:
  gateway-service:
    build:
      context: ./gateway-service
    container_name: gateway-service
    ports:
      - "5001:5001"
    env_file:
      - ./gateway-service/.env
    depends_on:
      - user-service
    networks:
      - ecommerce-net

  user-service:
    build:
      context: ./user-service
    container_name: user-service
    ports:
      - "8000:8000"
    env_file:
      - ./user-service/.env
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge
