services:
  mysql-auth:
    image: mysql:8.0
    container_name: mysql-auth
    environment:
      MYSQL_ROOT_PASSWORD: Anhphuoc1@
      MYSQL_DATABASE: auth-service
    ports:
      - '3307:3306'
    volumes:
      - mysql-auth-data:/var/lib/mysql
    networks:
      - ecommerce-net
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 20s
      retries: 10

  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    ports:
      - '3005:3005'
    env_file:
      - ./auth-service/.env
    environment:
      MYSQL_HOST: mysql-auth
      MYSQL_USER: root
      MYSQL_PASSWORD: Anhphuoc1@
      MYSQL_DATABASE: auth-service

    depends_on:
      mysql-auth:
        condition: service_healthy
    networks:
      - ecommerce-net

  gateway-service:
    build:
      context: ./gateway-service
    container_name: gateway-service
    ports:
      - '5001:5001'
    env_file:
      - ./gateway-service/.env
    depends_on:
      - user-service
      - auth-service
    networks:
      - ecommerce-net

  user-service:
    build:
      context: ./user-service
    container_name: user-service
    ports:
      - '8000:8000'
    env_file:
      - ./user-service/.env
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge

volumes:
  mysql-auth-data:
