.homeProducts {
  padding: 25px 0px;
  .container {
    .productRow {
      .bestSeller {
        padding: 20px;
        overflow: visible;
        .swiper {
          overflow-x: hidden;
          overflow-y: visible;
          padding: 20px 5px;
        }
      }
    }

    .banner {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
      height: auto;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    .info {
      h3 {
        font-weight: 550;
      }
    }
    .viewAllBtn {
      justify-content: center;
      text-align: center;
      align-items: center;
      color: black;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: 3px 8px;
      font-size: 10px;
      svg {
        font-size: 15px;
      }
    }
  }
}

.productRow2 {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;

  .productItem {
    width: 24%;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.bannerSec {
  gap: 15px;
}

.newsLetterSection {
  width: 100%;
  background-color: var(--color_black);
  position: relative;
  overflow: hidden;
  padding: 100px 0px;
  .col-md-6 {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    p {
      font-size: 18px;
    }
    h4 {
      font-size: 35px;
      font-weight: bold;
    }
    p.text-light {
      color: #fff Im !important;
      opacity: 0.5;
      font-size: 15px;
    }
    img {
      position: absolute;
      bottom: -20px;
      right: 0;
    }
    form {
      margin-top: 10px;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      width: 80%;
      height: 50px;
      background-color: white;
      padding: 10px;
      position: relative;
      border-radius: 5px;
      svg {
        top: 13px;
        left: 10px;
        font-size: 25px;
        position: absolute;
        opacity: 0.3;
      }
      input {
        width: 100%;
        height: 100%;
        border: none;
        background-color: white;
        outline: none;
        padding-left: 40px;
        padding-right: 130px;
        font-size: 14px;
      }
      input:focus {
        background-color: white !important;
        box-shadow: none !important;
      }
      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        background-color: var(--color_black);
        font-size: 16px;
        padding: 7px 10px;
        color: white;
        font-size: 12px;
        border-radius: 5px;
      }
      button:hover {
        background-color: var(--color_green);
      }
    }
  }
}
