# Ignore node_modules (không cần copy vào image)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Git
.git
.gitignore

# Build
build
dist
