.admin-dashboard {
  flex-wrap: wrap;
  .header {
    text-align: center;
    align-items: center;
    border: 1px solid black;
    height: 60px;
    padding: 5px;
    .name {
      font-size: 16px;
      font-weight: bold;
      width: 25%;
      border: 1px solid black;
    }
    .text {
      border: 1px solid black;
      width: 75%;
      display: flex;
      justify-content: center;
    }
  }
  .body {
    padding: 5px;
    .sideBar {
      width: 25%;
      border: 1px solid black;
      display: fixed;
      font-weight: 800;
      .MuiListItemButton-root {
        &.active {
          background-color: rgba(48, 139, 230, 0.12); // xanh nhạt
          border-left: 4px solid #2e71b3; // line xanh
          transition: all 0.2s ease;
          color: #1976d2;

          svg {
            color: #1976d2;
          }
          &:hover {
            background-color: rgba(25, 118, 210, 0.2);
          }
        }
      }
    }
    .mainContent {
      border: 1px solid black;
      width: 75%;
      height: 100%;
    }
  }
}
