.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; // full màn hình

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    height: 60px;
    padding: 0 15px;
    background: #f9f9f9;

    .name {
      font-size: 16px;
      font-weight: bold;
    }
    .text {
      font-size: 14px;
      color: #555;
    }
  }

  .body {
    display: flex;
    flex: 1; 

    .sideBar {
      width: 250px; // cố định sidebar
      background: #fff;
      border-right: 1px solid #ddd;
      padding: 10px 0;
      overflow-y: auto; // nếu menu dài sẽ cuộn
      font-weight: 600;

      .MuiListItemButton-root {
        &.active {
          background-color: rgba(48, 139, 230, 0.12);
          border-left: 4px solid #2e71b3;
          transition: all 0.2s ease;
          color: #1976d2;

          svg {
            color: #1976d2;
          }

          &:hover {
            background-color: rgba(25, 118, 210, 0.2);
          }
        }
      }
    }

    .mainContent {
      flex: 1; // chiếm toàn bộ phần còn lại
      background: #fafafa;
      padding: 15px;
      overflow-y: auto; // nội dung cuộn độc lập
    }
  }
}
