.admin-dashboard {
  flex-wrap: wrap;
  .header {
    text-align: center;
    align-items: center;
    border: 1px solid black;
    height: 60px;
    padding: 5px;
    .name {
      font-size: 16px;
      font-weight: bold;
      width: 25%;
      border: 1px solid black;
    }
    .text {
      border: 1px solid black;
      width: 75%;
      display: flex;
      justify-content: center;
    }
  }
  .body {
    padding: 5px;
    .sideBar {
      width: 25%;
      border: 1px solid black;
      display: fixed;
    }
    .mainContent {
      border: 1px solid black;
      width: 75%;
      height: 100%;
    }
  }
}
