.productSliderWrapper {
  .mainImage {
    width: 100%;
    border-radius: 10px;
    position: relative;
    border-radius: 5px;
    border: 2px solid transparent;
    display: block;
    overflow: hidden;
    height: auto;
    img {
      border-radius: 30px;
    }

    .imageSlider {
      display: flex;
      width: 335px;
      height: 335px;
      transition: transform 0.5s ease-in-out;

      img {
        flex: 0 0 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
        object-position: center;
      }
    }
    .discount {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 2px 5px;
      border-radius: 10px;
      background-color: var(--color_black);
      font-size: 11px;
      color: white;
    }
  }

  .thumbnailList {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding: 10px;

    .thumbItem {
      border: 2px solid transparent;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      opacity: 0.6;
      transition: all 0.3s ease;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        transition: transform 0.3s ease;
      }

      &:hover img {
        transform: scale(1.05);
      }

      &.active {
        border: 2px solid #888;
        opacity: 1;
      }
    }
  }
}
