.userReview {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0; // Giữ kích thước cố định khi dùng flexbox
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
  .rating {
    .info {
      .name {
        font-size: 15px;
      }
      .time {
        font-size: 12px;
      }
    }
    .comment {
      font-size: 14px;
      width: 80%;
      display: block;
    }
  }
}
.css-mrxd2j-MuiRating-root {
  font-size: 16px !important;
  padding: 0 !important;
  margin: 0 !important;
}
