.size {
  display: flex;
  align-items: center;
  text-align: center;

  h4 {
    text-align: center;
    // font-weight: bold;
    font-size: 15px;
  }
  ul {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    li {
      list-style: none;
      display: flex;
      width: 30px;
      height: 30px;
      // background-color: chartreuse;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(213, 211, 211);
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: var(--color_black);
        color: white;
      }
      &:hover {
        background-color: var(--color_black);
        color: white;
      }
    }
  }
}
