.item {
  cursor: pointer;
  background-color: #f1f1f1;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  transition: all 0.2s ease-in-out;
  transition: box-shadow 0.3s ease;
  .imgWrapper {
    position: relative;
    height: 200px;
    overflow: hidden;

    img {
      object-position: center;
      transition: transform 0.3s ease-in-out;
      opacity: 1;
      transform: scale(1);
      will-change: transform;
      transform-origin: center center;
    }

    .badge {
      position: absolute;
      border-radius: 10px;
      top: 10px;
      left: 10px;
      z-index: 1;
      font-size: 11px;
      padding: 2px 5px;
      font-weight: 400;
      color: white;
    }
    .actions {
      position: absolute;
      top: 20px;
      right: 19px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: all 0.1s ease-in-out;
      opacity: 0;
      Button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 1px 3px rgb(0 0 0/12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
        svg {
          color: black;
          opacity: 0.7;
          font-size: 20px;
        }
      }
      Button.one {
        svg {
          font-size: 15px;
        }
      }
      Button:hover {
        background-color: var(--color_black);
        svg {
          color: white;
        }
      }
    }
  }
  .imgWrapper.hovered {
    .actions {
      opacity: 1;
    }
    img {
      transform: scale(1.1);
    }
  }

  .info {
    padding: 15px;
    justify-content: center;
    .priceWrapper {
      font-weight: bold;
      font-size: 16px;
      .oldPrice {
        text-decoration: line-through;
      }
    }
    span {
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
    }
    h4 {
      font-size: 15px;
      font-weight: 600;
    }
  }
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 10px !important;
  color: black !important;
  background-color: white !important;
  padding: 10px;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  justify-content: center;
  align-items: center;
  display: flex;
}
.swiper-button-prev,
.swiper-button-next {
  width: 30px !important;
  height: 30px !important;
}
